// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #104477;
$primary-invert: findColorInvert($primary);

$info: #fd7251;
$info-invert: findColorInvert($info);

$blue-grey: #718599;
$blue-grey-invert: findColorInvert($blue-grey);

$chivo-font: 'Chivo', sans-serif;

$family-primary: $chivo-font;

$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'blue-grey': (
    $blue-grey,
    $blue-grey-invert,
  ),
);

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
